/*---------------------------------------------------
  Font
---------------------------------------------------*/

body {
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}

h1 {
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.bt {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
}


/*---------------------------------------------------
  Generic
---------------------------------------------------*/

a {
}

p {
  line-height: 1.5em;
}

p + p {
  margin-top: 1.2em;
}

/*---------------------------------------------------
  Layout
---------------------------------------------------*/

.right, .left, .top {
  position: absolute;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/*---------------------------------------------------
  UI - General
---------------------------------------------------*/

.card {
  position: relative;
}

/*---------------------------------------------------
  UI - Buttons
---------------------------------------------------*/

.bt {
  text-align: center;
}


/*---------------------------------------------------
  UI - Header
---------------------------------------------------*/

.header, .header-item {
  height: 50px;
  line-height: 48px;
  color: #fff;
}

.header {
  position: relative;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
  border-bottom: #666 solid 1px;
}

.header-item {
}

.header-title {
  text-shadow: #999 -1px -1px 1px;
}

.header .bt {
  height: 37px;
  width: 70px;
  line-height: 37px;
  text-shadow: #888 -1px -1px 1px;
  -webkit-border-radius: 8px;
  border: 1px solid #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888), color-stop(2%, #aaa));
  margin: 6px;
}

.header .bt.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#777), color-stop(2%, #999));
}

/*---------------------------------------------------
  UI - Body
---------------------------------------------------*/

.text-holder {
  padding: 24px 24px;
}

/*---------------------------------------------------
  UI - List
---------------------------------------------------*/

.list-item {
  padding: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  border-bottom: #999 1px solid;
  position: relative;
}

.list-item.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
}

.list-item span {
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  right: 10px;
}



